server:
  port: 8080
spring:
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
app:
  jwt:
    secret: ${JWT_SECRET}
    expiration-minutes: 60


logging:
  level:
    org.flywaydb: INFO
